
.forminput {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #747474;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.destacar, .buttonig {
    gap: 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: var(--branco);
    padding: 10px;
    background-color: var(--rosa);
}

.buttonig a, .buttonfb a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttonfb {
    background-color: #2E45BA;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: var(--branco);
    padding: 10px;
}