
body {
  height: 100vh;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-login {
  max-width: 357px;
  background-color: #fff;
  width: 357px;
  height: 470px;
  border-radius: 20px;
  padding: 30px;
}


.entrarlogin {
  width: 200px;
  background-color: #E70066;
  border: none;
  border-radius: 45px;
  padding: 10px 10px;
  color: #fff;
}

.entrarlogin:hover {
  width: 200px;
  background-color: #D96297;
  border: none;
  padding: 10px 10px;
}


.footer-image {
  width: 100%;
}