* {
    margin: 0px;
    padding: 0px;
    font-family: "Inria Sans", sans-serif;
  }

  
.body-bg {
    height: 100vh;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  :root {
    --branco: #fff;
    --rosa: #E70066;
    --azul: #2E45BA;
    --verde: #178A37;
    --red: #e70000;
  }